{%extends 'base.html'%} {%load static%} {%block title%}
<title>Home</title>
<link rel="stylesheet" href="/static/styles.css" />
<link
  rel="stylesheet"
  type="text/css"
  href="/static/missingpersonsapp/css/home.css"
/>
{%endblock%} {%block body%}
<div class="backgroundgirl">
  <div class="textbox" style="width:30%; padding-left:2em;">
    <h1>
      Today there are more people in slavery than at any other point in history.
    </h1>
    <br />
    <br />
    <h3>
      Join the fight against human trafficking. Explore the page links to become
      more informed in what you can do to help. 
    </h3>
  </div>
</div>
{%endblock%}
