{%extends 'base.html'%}
{%load static%} 
{%block title%} 
<title>Search</title>
{%endblock%}
{%block body%}
<style>
  body {background-color:rgb(97, 97, 97);
      }
  h1 {color: white;text-align: center;}
  form {text-align: center;}
  p {color: white; text-align:center;}
  label {color: white;}
</style>

<h1>Find a Missing Person</h1>
<form method="get">
  <label for="title">Type in their first name:</label>
  <input type="text" id="firstName" name="firstName" style="color:black;" />
  <button type="submit" style="background-color: rgb(251, 251, 116); color: black; border: none;" class="btn btn-primary">Find</button>
</form>
<br>
{% if people|length == 0 %}
<p>No people found with that name</p>
{% else %}
<h5>{{person.lastName}}</h5>
{% endif %}
<body>
  <div>
    <p>If you are searching for a loved one, more suggestions include: filing a report, reaching out to the missing person's friends and acquaintances, 
      checking nearby hospitals, churches, homeless shelters and libraries, posting a one time flyer, utlizing social media, checking their phone location,
      and checking local news. For more information contact us at 1-800-FindMe. </p>
    <br />
    <div>
      <table class="table table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th class="tableheader" title="Field #1">date missing</th>
            <th class="tableheader" title="Field #2">last name</th>
            <th class="tableheader" title="Field #3">first name</th>
            <th class="tableheader" title="Field #4">age at missing</th>
            <th class="tableheader" title="Field #5">city</th>
            <th class="tableheader" title="Field #6">state</th>
            <th class="tableheader" title="Field #7">gender</th>
            <th class="tableheader" title="Field #8">race</th>
          </tr>
        </thead>
        <tbody>
          {% for person in people %}
          <tr>
            <td class="tableitem" id="date_missing">{{person.date_missing}}</td>
            <td class="tableitem" class="tableitem" id="lastName">
              {{person.lastName}}
            </td>
            <td class="tableitem" id="firstName">{{person.firstName}}</td>
            <td class="tableitem" align="right" id="age_at_missing">
              {{person.age_at_missing}}
            </td>
            <td class="tableitem" id="city">{{person.city}}</td>
            <td class="tableitem" id="state">{{person.state}}</td>
            <td class="tableitem" id="gender">{{person.gender}}</td>
            <td class="tableitem" id="race">{{person.race}}</td>
          </tr>
          {% endfor %} 
        </tbody>
      </table>
    </div>
  <br/>
  </div>
</body>
{% endblock %}

